body {
  font-family: Roboto, Arial, Georgia;
  font-size: 10px;
}
a {
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1.5px;
  line-height: 1.8;  
  color: #7DC02D;
  text-underline-offset: 0.5em;
}
a:active {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
.indeksi {
  font-family: Arial;  
  text-align: center;
  font-size: 13px;
  color: #7d807c;
  line-height: 2.5;  
  letter-spacing: 2px;
}
.viikonlopputietoa {
  font-family: Arial;  
  text-align: center;
  font-size: 13px;
  color: #7d807c;
  line-height: 0.5;  
  letter-spacing: 2px;
}